/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
#include "sdm845-caymanslm_common-usb-switch-fusb252.dtsi"
#include "sdm845-caymanslm_common-usb-lgmd.dtsi"

&pm8998_gpios {
	gpio9_adc {
		gpio9_adc_default: gpio9_adc_default {
			pins = "gpio9";
			function = "normal";
			bias-high-impedance;
		};
	};
};

&pmi8998_pdphy {
        lge,sbu-sel-gpio = <&tlmm 99 0>;
        lge,sbu-oe-gpio = <&tlmm 21 0>;
	lge,moisture-method = <0>;
        qcom,moisture-detection-adc_tm = <&pm8998_adc_tm>;
        qcom,moisture-detection-vadc= <&pm8998_vadc>;
	pinctrl-names = "default";
	pinctrl-0 = <&gpio9_adc_default>;
};

&usb0 {
	usb-phy = <&qusb_phy0>;
};

&qusb_phy0 {
	qcom,qusb-phy-tune = <0x77 0x29 0xca 0x03 0x03>;
	qcom,qusb-phy-tune-host = <0x77 0x29 0xca 0x07 0x03>;
};

&usb_qmp_dp_phy {
	qcom,tx-a-pre-emphasis = <0x0d>;
	qcom,tx-b-pre-emphasis = <0x0d>;
	qcom,tx-a-swing = <0x1f>;
	qcom,tx-b-swing = <0x1f>;
};
