/* Copyright (c) 2017, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	/* add for FP ET520 zuoqiquan@huaqin.com 190326 */
	egistec {
		status = "okay";
		compatible = "egistec,et520";

		interrupt-parent = <&tlmm>;
		interrupts = <121 0x00>;

		/* GPIO82 : FP_AVDD_EN / GPIO106 : FP_VIO_EN */
                egistec,vdd_io-supply = <&pm8998_l19>;
//		egistec,gpio_pwr_en = <&tlmm 83 0x00>;
//		egistec,gpio_ldo1p8_en = <&tlmm 82 0x00>;

		/* GPIO122 : FP_RESET / GPIO121 : FP_INT */
		egistec,gpio_rst = <&tlmm 122 0x00>;
		egistec,gpio_irq = <&tlmm 121 0x00>;
	};
};
